<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luthfirrohman.movieapps.favorite">

    <application
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning" />

    <dist:module
        dist:instant="false"
        dist:title="Favorite">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>

</manifest>